@import url("https://fonts.googleapis.com/css2?family=Barlow:wght@300;400;500;700&family=Fraunces:opsz,wght@9..144,400;9..144,700;9..144,800;9..144,900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

img {
  overflow-clip-margin: content-box;
  overflow: clip;
}

body {
  background-color: #fefcf7;
}

li {
  list-style-type: none;
}

.btn, .create-plan-btn button, .great-coffee-text button {
  color: white;
  background-color: #0e8684;
  font-size: 1.3rem;
  font-family: "Fraunces", serif;
  font-weight: 700;
  border: transparent;
  border-radius: 0.7rem;
  cursor: pointer;
  transition: 0.2s;
}

nav {
  padding: 2.72rem 9rem 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.nav-logo {
  width: 15.8rem;
}

#navigation ul {
  display: flex;
  gap: 2rem;
}
#navigation li {
  font-size: 0.85rem;
  font-family: "Barlow", sans-serif;
  font-weight: 700;
  color: #83888f;
  cursor: default;
}
#navigation a {
  color: #83888f;
}
#navigation a:hover {
  color: #333d4b;
}

main {
  padding: 0 9rem;
}

footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #2c343e;
  padding: 2.2rem 10rem;
}
footer ul {
  display: flex;
  gap: 2.05rem;
}
footer li {
  font-size: 0.9rem;
  font-family: "Barlow", sans-serif;
  font-weight: 700;
  color: #83888f;
  cursor: default;
}
footer a {
  color: #83888f;
}
footer a:hover {
  color: #fefcf7;
}
footer .footer-logo {
  width: 16.5rem;
}
footer .socials {
  display: flex;
  gap: 1.5rem;
}
footer .socials img {
  cursor: pointer;
  width: 1.8rem;
}
footer .socials img:hover {
  filter: invert(82%) sepia(80%) saturate(254%) hue-rotate(323deg) brightness(410%) contrast(98%);
}

.hidden {
  display: none;
}

.modal-menu {
  display: none;
}

.hamburger {
  display: none;
}

#hamburger img {
  width: 1rem;
}

.hidden {
  display: none;
}

@media (max-width: 1440px) {
  nav {
    padding: 2rem 3.5rem;
  }
  .nav-logo {
    width: 12.5rem;
  }
  footer {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 6rem 0 0 0;
  }
  footer ul {
    margin: 3rem 0;
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }
  footer ul li {
    font-size: 1.1rem;
    font-weight: 400;
  }
  footer .socials {
    gap: 3rem;
  }
  footer .socials img {
    width: 2.4rem;
  }
}
@media (max-width: 710px) {
  nav {
    padding: 1.8rem 2.2rem;
  }
  .nav-icon {
    width: 9.5rem;
  }
  #navigation {
    display: none;
    width: 0;
  }
  .hamburger {
    display: block;
  }
  .modal-menu {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 3rem 0 -22rem;
    padding-bottom: 15rem;
    opacity: 1;
    transition: opacity 300ms ease-in;
    font-family: "Fraunces", sans-serif;
    font-weight: 700;
    background: #fefcf7;
    background: -moz-linear-gradient(180deg, #fefcf7 45%, rgba(254, 247, 247, 0) 100%);
    background: -webkit-linear-gradient(180deg, #fefcf7 45%, rgba(254, 247, 247, 0) 100%);
    background: linear-gradient(180deg, #fefcf7 45%, rgba(254, 247, 247, 0) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#fefcf7",endColorstr="#fef7f7",GradientType=1);
    text-align: center;
  }
  .modal-menu ul {
    opacity: 1;
    transform: translate(0px, 0px);
    transition: opacity 200ms ease-out 200ms, transform 500ms ease-out;
  }
  .modal-menu li {
    color: #848990;
    font-size: 1.4rem;
    list-style: none;
    margin-bottom: 1rem;
    user-select: none;
  }
  .modal-menu li a {
    text-decoration: none;
    color: #343e4c;
  }
  .modal-menu li a:hover {
    cursor: pointer;
    color: #0e8684;
  }
  footer .socials {
    gap: 3rem;
    margin-bottom: 2rem;
  }
  footer .socials img {
    width: 2.2rem;
  }
}
@media (max-width: 500px) {
  footer .footer-logo {
    width: 15rem;
  }
  footer ul li {
    font-size: 1rem;
    font-weight: 400;
  }
  footer .socials {
    gap: 2rem;
  }
  footer .socials img {
    width: 2rem;
  }
}
.great-coffee {
  color: white;
  margin-top: 4rem;
  border: transparent;
  background: url(../assets/home/desktop/image-hero-coffeepress.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  border-radius: 1.5rem;
}

.great-coffee-text {
  padding: 7rem 7rem;
}
.great-coffee-text h2 {
  width: clamp(6ch, 70%, 8em);
  font-size: clamp(1rem, 4vw, 4rem);
  font-family: "Fraunces", serif;
}
.great-coffee-text p {
  margin-top: 2.5rem;
  width: 60%;
  line-height: 1.8rem;
  font-size: 1.3rem;
  font-family: "Barlow", sans-serif;
}
.great-coffee-text button {
  margin: 6rem 0 0 0;
  padding: 1.2rem 2.7rem;
}
.great-coffee-text button:hover {
  background-color: #15c3c0;
  transform: scale(120%);
}

.collection {
  position: relative;
  margin-top: 15rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.collection h1 {
  color: #848990;
  font-family: "Fraunces", serif;
  font-size: clamp(2rem, 10.2vw, 11rem);
  font-weight: 900;
  letter-spacing: 6px;
  margin-bottom: -4.5rem;
}

.title-gradient {
  background: linear-gradient(0deg, rgba(254, 252, 247, 0.8044818269) 50%, rgba(254, 247, 247, 0) 100%);
  position: absolute;
  width: 100%;
  height: 100%;
  margin-top: -16rem;
  z-index: 9;
}

.products {
  display: flex;
  justify-content: center;
  z-index: 9;
}

.product-image img {
  width: 19rem;
}

.product-description {
  max-width: 100%;
  color: #333d4b;
  margin: 5rem 1rem;
  display: flex;
  flex-direction: column;
  text-align: center;
  gap: 2rem;
}
.product-description h3 {
  font-family: "Fraunces", serif;
  font-size: 1.9rem;
}
.product-description p {
  letter-spacing: 0.5px;
  line-height: 1.5rem;
  font-size: clamp(0.8rem, 1.1vw, 1rem);
  font-family: "Barlow", sans-serif;
}

.choose-us {
  position: relative;
  margin-top: 7.5rem;
  justify-content: center;
  align-items: center;
  background-color: #293039;
  border-radius: 1rem;
}

.choose-us-text {
  color: white;
  text-align: center;
  padding: 4rem 23rem 19rem 23rem;
}
.choose-us-text h2 {
  font-family: "Fraunces", serif;
  font-size: 2.1rem;
}
.choose-us-text p {
  margin-top: 2rem;
  font-size: 1.3rem;
  font-family: "Barlow", sans-serif;
  text-align: center;
  line-height: 1.9rem;
}

.choose-us-benefits {
  position: absolute;
  transform: translate(-50%, 0);
  left: 50%;
  display: flex;
  justify-content: center;
  gap: 2.5rem;
}

.benefit {
  position: relative;
  height: 25.5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: -12rem;
  padding: 0rem 2rem;
  width: 19rem;
  color: white;
  background-color: #0e8684;
  border-radius: 1rem;
}
.benefit img {
  width: 6rem;
  margin-top: 4rem;
}

.benefit-text {
  position: absolute;
  display: block;
  text-align: center;
  margin: 10rem 2rem auto 2rem;
}
.benefit-text h3 {
  margin-top: 4.5rem;
  font-family: "Fraunces", serif;
  font-size: 1.5rem;
}
.benefit-text p {
  margin-top: 1.5rem;
  margin-bottom: 1rem;
  font-family: "Barlow", sans-serif;
  font-size: 1rem;
  line-height: 1.5rem;
}

.how-it-works {
  position: relative;
  display: flex;
  flex-direction: column;
  margin-top: 24rem;
}
.how-it-works h2 {
  font-family: "Fraunces", serif;
  font-size: 2.6rem;
  color: #83888f;
}

.steps-illustration {
  position: relative;
  display: block;
  height: 1.5rem;
  width: 70%;
  margin-top: 10rem;
}

.circle1,
.circle2,
.circle3 {
  transform-origin: 50% 50%;
  position: absolute;
  width: 1.8rem;
  height: 1.8rem;
  background-color: white;
  border-radius: 50%;
  border-style: solid;
  border-width: 3px;
  border-color: #0e8684;
}

.circle1 {
  left: 0;
}

.circle2 {
  left: 53%;
}

.circle3 {
  left: 100%;
}

.behind-line {
  position: absolute;
  top: 50%;
  z-index: -1;
  width: 100%;
  height: 3px;
  background-color: #fdd6ba;
}

.steps {
  margin-top: 6rem;
  margin-left: 1rem;
  display: flex;
}

.step1,
.step2,
.step3 {
  display: flex;
  flex-direction: column;
  justify-content: left;
}

.step-number {
  color: #fdd6ba;
  font-family: "Fraunces", serif;
  font-size: 5rem;
  font-weight: bolder;
}

.step-title {
  margin-top: 2rem;
  color: #293039;
  font-family: "Fraunces", serif;
  font-size: 1.8rem;
  font-weight: bolder;
}

.step-description {
  width: 85%;
  margin-top: 2rem;
  color: #293039;
  font-family: "Barlow", sans-serif;
  font-size: 1.25rem;
  line-height: 2rem;
}

.create-plan-btn a {
  color: white;
}
.create-plan-btn button {
  margin: 10rem 0;
  padding: 1.2rem 3rem;
}
.create-plan-btn button:hover {
  background-color: #15c3c0;
  transform: scale(120%);
}

@media (max-width: 1440px) {
  .main-home {
    padding: 0rem 3.5rem;
  }
  .great-coffee {
    background-image: url(../../assets/home/tablet/image-hero-coffeepress.jpg);
  }
  .great-coffee-text {
    padding: 5rem;
  }
  .great-coffee-text h2 {
    width: clamp(8ch, 55%, 8em);
    font-size: clamp(4rem, 6vw, 6rem);
    line-height: 1.1;
    width: 30rem;
  }
  .great-coffee-text p {
    margin-top: 2.5rem;
    width: 28rem;
    line-height: 1.8rem;
    font-size: 1.3rem;
  }
  .great-coffee-btn {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .collection h1 {
    font-size: clamp(11vw, 10vw, 11rem);
    letter-spacing: 2px;
    margin-bottom: -6rem;
  }
  .products {
    flex-direction: column;
    width: 70%;
  }
  .products .coffee {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 6rem;
  }
  .product-description {
    text-align: left;
    gap: 1rem;
    display: flex;
  }
  .product-description h3 {
    width: 15rem;
    font-size: 1.8rem;
  }
  .product-description p {
    width: 19rem;
    font-size: 1.2rem;
    line-height: 1.7rem;
  }
  .product-image img {
    width: 15rem;
  }
  .title-gradient {
    max-width: 90vw;
    margin-top: -4rem;
    background: linear-gradient(0deg, rgba(254, 252, 247, 0.8044818269) 90%, rgba(254, 247, 247, 0) 100%);
  }
  .choose-us {
    display: flex;
    flex-direction: column;
    height: auto;
    padding-bottom: 5rem;
  }
  .choose-us-text {
    color: white;
    text-align: center;
    padding: 4rem 0 7rem 0;
    width: 30rem;
  }
  .choose-us-benefits {
    position: relative;
    transform: translate(0, 0);
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 3rem;
    margin: 0 1rem;
  }
  .benefit {
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 92%;
    height: 13.5rem;
    gap: 4rem;
    margin: 0;
  }
  .benefit img {
    width: 6rem;
    margin-top: 0;
  }
  .benefit-text {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: left;
    margin: 0;
    width: 60%;
  }
  .benefit-text h3 {
    width: 20rem;
    font-size: 1.9rem;
    margin-top: 0;
  }
  .benefit-text p {
    font-size: 1rem;
    margin-top: 1rem;
    margin-bottom: 0;
    line-height: 1.6;
  }
  .how-it-works {
    margin-top: 14rem;
    justify-content: space-between;
  }
  .steps {
    margin-left: 0;
  }
  .step-title {
    width: 12rem;
    font-size: 2rem;
    margin-top: 1rem;
  }
  .step-description {
    margin-top: 1rem;
    font-size: 1rem;
    line-height: 1.6rem;
  }
  .step-description p {
    width: 18rem;
  }
  .create-plan-btn {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
@media (max-width: 709px) {
  .main-home {
    padding: 0rem 2.2rem;
  }
  .great-coffee {
    margin-top: -2rem;
    background: url(../../assets/home/mobile/image-hero-coffeepress.jpg);
    background-size: cover;
    background-position: right top;
    background-repeat: no-repeat;
  }
  .great-coffee-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .great-coffee-text h2 {
    font-size: 3.2rem;
    width: 25rem;
    text-align: center;
  }
  .great-coffee-text p {
    text-align: center;
    width: 22rem;
    font-size: 1.05rem;
    line-height: 1.6;
  }
  .collection h1 {
    font-size: 2.8rem;
    letter-spacing: 1px;
    margin-bottom: 2rem;
  }
  .title-gradient {
    width: 20rem;
    background: linear-gradient(0deg, rgba(254, 252, 247, 0.8044818269) 50%, rgba(254, 247, 247, 0) 100%);
    height: 10vw;
    margin-top: -5rem;
  }
  .products {
    margin-top: 3rem;
  }
  .products .coffee {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 0;
  }
  .product-description {
    text-align: center;
    gap: 2rem;
    padding: 0;
    margin-top: 1rem;
  }
  .product-description h3 {
    width: 19rem;
    font-size: 1.6rem;
  }
  .product-description p {
    width: 19rem;
    font-size: 1.05rem;
    line-height: 1.5rem;
  }
  .product-image img {
    width: 17rem;
  }
  .choose-us {
    padding-top: 3rem;
    height: 70rem;
    justify-content: flex-start;
  }
  .choose-us p {
    font-size: 1.05rem;
    line-height: 1.6rem;
  }
  .choose-us-benefits {
    position: absolute;
    margin-top: 22rem;
  }
  .choose-us-text {
    color: white;
    text-align: center;
    padding: 4rem 0 7rem 0;
    width: 23rem;
  }
  .benefit {
    padding: 0;
    flex-direction: column;
    height: 26rem;
    gap: 3rem;
    width: 75%;
  }
  .benefit img {
    width: 6rem;
    margin-top: 2rem;
  }
  .benefit-text {
    padding: 0 1.5rem;
    align-items: center;
    text-align: center;
    width: 100%;
  }
  .benefit-text h3 {
    font-size: 1.7rem;
  }
  .benefit-text p {
    font-size: 1.2rem;
    line-height: 1.5;
  }
  .how-it-works {
    margin-top: 50rem;
    justify-content: space-between;
  }
  .how-it-works h2 {
    font-size: 1.7rem;
    text-align: center;
  }
  .steps-illustration {
    display: none;
  }
  .steps {
    flex-direction: column;
    text-align: center;
    gap: 9rem;
  }
  .step1,
  .step2,
  .step3 {
    justify-content: center;
    align-items: center;
  }
  .step-title {
    width: 25rem;
    font-size: 1.8rem;
    margin-top: 1rem;
  }
  .step-description {
    margin-top: 2.5rem;
    font-size: 1.05rem;
    line-height: 1.7rem;
    width: 25rem;
  }
  .create-plan-btn button {
    margin: 6rem 0 10rem 0;
  }
}
@media (max-width: 500px) {
  .great-coffee-text h2 {
    font-size: 2.4rem;
    width: 16rem;
  }
  .great-coffee-text p {
    width: 14rem;
    font-size: 0.9rem;
  }
  .great-coffee-text button {
    padding: 1rem;
    font-size: 1.1rem;
    width: 12rem;
  }
  .title-gradient {
    width: 20rem;
    height: 12vw;
    margin-top: -4rem;
  }
  .products {
    width: 100%;
  }
  .product-description {
    gap: 1rem;
    width: 14rem;
  }
  .product-description h3 {
    width: 14rem;
    font-size: 1.3rem;
  }
  .product-description p {
    width: 14rem;
    font-size: 0.9rem;
    line-height: 1.3rem;
  }
  .product-image img {
    width: 12rem;
  }
  .choose-us {
    padding-top: 0;
    height: 55rem;
  }
  .choose-us h2 {
    font-size: 1.5rem;
  }
  .choose-us p {
    font-size: 0.9rem;
    line-height: 1.3rem;
  }
  .choose-us-benefits {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-left: 0;
    margin-right: 0;
    margin-top: 20 0 0 0;
  }
  .choose-us-text {
    width: 18rem;
    padding-bottom: 0;
  }
  .benefit {
    height: 23rem;
    max-width: 16rem;
  }
  .benefit img {
    width: 5rem;
    margin-top: 1rem;
  }
  .benefit-text h3 {
    font-size: 1.3rem;
  }
  .benefit-text p {
    font-size: 0.9rem;
    line-height: 1.5;
  }
  .steps {
    gap: 4rem;
  }
  .step-number {
    font-size: 4rem;
  }
  .step-title {
    width: 15rem;
    font-size: 1.4rem;
  }
  .step-description {
    margin-top: 1rem;
    font-size: 0.9rem;
    line-height: 1.4rem;
    width: 15rem;
  }
  .create-plan-btn button {
    padding: 1rem 1.3rem;
    font-size: 1rem;
  }
}
@media (max-width: 395px) {
  .great-coffee-text h2 {
    font-size: 1.8rem;
    width: 12rem;
  }
  .great-coffee-text p {
    width: 12rem;
    font-size: 0.9rem;
  }
  .great-coffee-text button {
    padding: 1rem;
    font-size: 1.1rem;
    width: 12rem;
  }
  .choose-us-text {
    font-size: 0.85rem;
    width: 12rem;
  }
  .title-gradient {
    width: 16rem;
    height: 12vw;
    margin-top: -4rem;
  }
  .collection h1 {
    font-size: 2.1rem;
    letter-spacing: 1px;
    margin-bottom: 2rem;
  }
  .benefit {
    height: 20rem;
  }
  .benefit img {
    width: 4rem;
    margin-top: 0;
  }
  .benefit-text {
    max-width: 14rem;
  }
  .benefit-text h3 {
    flex-wrap: wrap;
    font-size: 1.2rem;
  }
  .benefit-text p {
    font-size: 0.85rem;
    line-height: 1.5;
  }
}
a {
  text-decoration: none;
}

.main-create {
  padding: 0rem 9rem;
}

.create-plan {
  color: white;
  margin-top: 4rem;
  border: transparent;
  background: url(../assets/plan/desktop/image-hero-blackcup.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  border-radius: 1.5rem;
}

.create-plan-text {
  padding: 6rem 4.5rem 11.5rem 5rem;
}

.create-plan-text h2 {
  font-family: "Fraunces", sans-serif;
  font-size: clamp(3.5rem, 4vw, 4.5rem);
  font-weight: 900;
  width: 50%;
}

.create-plan-text p {
  font-family: "Barlow", sans-serif;
  font-size: 1.25rem;
  margin-top: 1.5rem;
  width: 44%;
  line-height: 2rem;
}

.all-steps {
  background-image: url(../assets/plan/desktop/bg-steps.png);
  background-size: cover;
  background-position: center;
  border-radius: 1rem;
  position: relative;
  display: flex;
  flex-direction: column;
  margin-top: 8rem;
  z-index: -9;
}

.all-steps p {
  font-family: "Fraunces", serif;
  font-size: 2.6rem;
}

.steps-illustration-create {
  position: relative;
  display: flex;
  align-items: center;
  height: 1.5rem;
  width: 58%;
  margin: 9rem 0 0 8rem;
}

.circle1-create,
.circle2-create,
.circle3-create {
  background-color: transparent;
  border: solid 3px #0e8684;
  border-radius: 50%;
  transform-origin: 50% 50%;
  position: absolute;
  width: 2.5rem;
  height: 2.5rem;
}

.circle1-create {
  left: 0;
}

.circle2-create {
  left: 53%;
}

.circle3-create {
  left: 100%;
}

.behind-line-create {
  transform-origin: 50% 50%;
  background-color: #fdd6ba;
  position: absolute;
  margin: 50% 0 50% 2.7%;
  width: 100%;
  height: 3px;
  z-index: -1;
}

.steps-create {
  width: 90%;
  display: flex;
  gap: 6rem;
  padding: 3rem 3rem 11rem 8rem;
}

.step1-create,
.step2-create,
.step3-create {
  display: flex;
  flex-direction: column;
}

.step-number-create {
  color: #fdd6ba;
  font-family: "Fraunces", serif;
  font-size: 5rem;
  font-weight: bolder;
}

.step-title-create {
  font-family: "Fraunces", serif;
  font-size: 2.4rem;
  font-weight: bolder;
  margin-top: 1rem;
  color: white;
}

.step-description-create {
  font-family: "Barlow", sans-serif;
  font-size: 1.25rem;
  line-height: 2rem;
  color: white;
  margin-top: 2rem;
}

.choices-container {
  display: flex;
}

.questions-map-container {
  position: sticky;
  top: 100px;
  user-select: none;
  display: flex;
  width: clamp(300px, 2vw, 500px);
  flex-direction: column;
  margin: 15rem 0 0 0;
}

.question-map {
  cursor: pointer;
  display: flex;
  margin: 1.5rem 0;
  transition: transform 700ms cubic-bezier(0.4, 0, 1, 1);
}
.question-map h2 {
  color: #cdcecd;
  font-family: "Fraunces", serif;
  font-size: 1.9rem;
}
.question-map h3 {
  color: #adb0b2;
  font-family: "Fraunces", serif;
  font-size: 1.9rem;
  margin-left: 1em;
}
.question-map:hover {
  transform: translateX(0.5em);
  transition: transform 200ms ease-in-out;
}
.question-map:hover h2 {
  color: #adb0b2;
}
.question-map:hover h3 {
  color: #83888f;
}

.question-map-active {
  color: #333d4b;
}

.question-map-disabled h2 {
  color: #e5e5e2;
}
.question-map-disabled h3 {
  color: #d5d5d4;
}

.question-map-checked h2 {
  color: #9ecdc9;
}
.question-map-checked:hover h2 {
  color: #9ecdc9;
}

.question-map-onclick h3 {
  color: #000000;
}
.question-map-onclick h3:hover {
  color: #000000;
}

.separator {
  height: 2px;
  background-color: rgba(173, 176, 178, 0.2549019608);
}

.questions-section {
  display: flex;
  max-width: 80%;
}

.options {
  position: relative;
  gap: 2rem;
  top: -26rem;
  margin: 0 0 0 auto;
  width: clamp(20em, 70%, 50em);
}

.choice {
  min-width: 100%;
  display: flex;
  flex-direction: column;
  cursor: pointer;
}

.choice-disabled {
  cursor: default;
}
.choice-disabled h1 {
  color: #cdcecd;
}
.choice-disabled img {
  transform: none;
  cursor: default;
  transition: 1ms transform;
  filter: invert(70%) sepia(30%) saturate(120%) hue-rotate(165deg) brightness(130%) contrast(89%);
}

.question {
  justify-content: space-between;
  align-items: center;
  display: flex;
  margin-bottom: 3rem;
}
.question h1 {
  flex: 3;
  color: #83888f;
  font-family: "Fraunces", serif;
  font-weight: 700;
  font-size: 2.1rem;
  margin-right: 1rem;
}

.question-disabled h1 {
  color: #cdcecd;
}

.arrow-wrap img {
  margin: auto;
  display: block;
  scale: 1.5;
  height: 20px;
  fill: #0e8684;
  transition: 200ms transform;
}
.arrow-wrap img:hover {
  filter: invert(70%) sepia(30%) saturate(120%) hue-rotate(165deg) brightness(130%) contrast(89%);
}

.arrow-wrap-selected img {
  transform: rotate(180deg);
  transition: 1ms transform;
  filter: invert(70%) sepia(30%) saturate(120%) hue-rotate(165deg) brightness(130%) contrast(89%);
}

.arrow-wrap-disabled img {
  transform: none;
  transition: none;
  filter: invert(70%) sepia(30%) saturate(120%) hue-rotate(165deg) brightness(130%) contrast(89%);
}

.answers {
  max-height: 0;
  overflow: hidden;
  gap: 2rem;
  margin-bottom: 2rem;
  transition: max-height 500ms;
  user-select: none;
  display: flex;
  color: #86c2c1;
}

.answers-open {
  max-height: 50rem;
}

.answers-closed {
  max-height: 0;
}
.answers-closed img {
  transform: none;
}

.answer {
  cursor: pointer;
  color: #333d4b;
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  min-height: 23rem;
  width: clamp(8rem, 100%, 50rem);
  background-color: #f4f1eb;
  padding: 3rem 0rem 6rem 0rem;
  transition: 100ms background;
  border-radius: 1rem;
}
.answer h1 {
  position: absolute;
  margin: 0rem 1.5rem 0rem 1.5rem;
  font-family: "Fraunces", serif;
  font-size: 2rem;
}
.answer p {
  overflow: auto;
  display: block;
  position: absolute;
  margin: 6rem 1.5rem 2rem 1.5rem;
  align-items: start;
  line-height: 1.5;
  font-family: "Barlow", sans-serif;
  font-size: 1.3rem;
}
.answer:hover {
  background-color: #fdd6ba;
  color: black;
}

.answer-active {
  color: white;
  background-color: #0e8684;
}
.answer-active:hover {
  color: white;
  background-color: #0e8684;
}

.summary-container {
  display: flex;
  flex-direction: column;
  align-items: end;
}

.summary {
  background-color: #293039;
  border-radius: 1rem;
  padding: 3rem 2rem 2rem 2rem;
}
.summary h3 {
  color: #848990;
  font-family: "Barlow", sans-serif;
  font-weight: 500;
  font-size: 2rem;
  margin-bottom: 1rem;
}
.summary h2 {
  font-family: "Fraunces", serif;
  font-size: 1.9rem;
  font-weight: 700;
  color: white;
  line-height: 1.6;
}

.custom {
  color: #0e8684;
  line-height: 1.6;
}

.finish-order {
  margin-top: 3.5rem;
  color: white;
  background-color: #0e8684;
  padding: 1.2rem 3rem;
  font-size: 1.3rem;
  font-family: "Fraunces", serif;
  font-weight: 700;
  border: transparent;
  border-radius: 0.7rem;
  margin-bottom: 10rem;
  cursor: pointer;
  transition: 0.7s;
}
.finish-order:hover {
  background-color: #15c3c0;
  transform: scale(110%);
}

.finish-order-disabled {
  background-color: #e2dedb;
  color: white;
  cursor: default;
}
.finish-order-disabled:hover {
  background-color: #e2dedb;
  color: white;
  cursor: default;
  transform: scale(100%);
}

#overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.4);
  backdrop-filter: blur(3px);
  z-index: 5;
  user-select: none;
  transition: opacity 0.3s;
}

.modal {
  z-index: 6;
  display: flex;
  flex-direction: column;
  transform: translate(-50%, -50%);
  top: 50%;
  left: 50%;
  position: fixed;
  width: clamp(100px, 80%, 500px);
  border-radius: 0.8em;
  background-color: #fefcf7;
  box-shadow: 0 5px 20px rgba(0, 0, 0, 0.5);
  transition: opacity 0.4s;
  border-radius: 1rem;
}
.modal p {
  margin: 0 2rem;
  color: #848990;
  font-family: "Barlow", sans-serif;
  font-size: 1rem;
  line-height: 1.5;
  text-align: start;
}

.modal-title {
  background-color: #333d4b;
  border-radius: 1rem 1rem 0 0;
}
.modal-title h1 {
  color: white;
  font-size: 2.5rem;
  font-family: "Fraunces", serif;
  font-weight: 700;
  text-align: center;
  padding: 1.5rem 0;
}

.modal-order {
  font-family: "Fraunces", sans-serif;
  color: #83888f;
  line-height: 1.6;
  padding: 2rem 2rem;
  font-size: 1.3rem;
  font-weight: 600;
}

.hidden {
  pointer-events: none;
  opacity: 0;
}

.modal-checkout {
  display: flex;
  gap: 2.8rem;
  max-width: 100%;
  margin-top: 4.5rem;
  margin-bottom: 3rem;
  justify-content: center;
  align-items: center;
}
.modal-checkout h3 {
  color: #333d4b;
  font-size: 2.3rem;
  font-family: "Fraunces", serif;
  font-weight: 700;
}
.modal-checkout button {
  color: white;
  background-color: #0e8684;
  padding: 1.1rem 2.4rem;
  font-size: 1.3rem;
  font-family: "Fraunces", serif;
  font-weight: 700;
  border: transparent;
  border-radius: 0.7rem;
  cursor: pointer;
  transition: 0.2s;
}
.modal-checkout button:hover {
  background-color: #15c3c0;
  transform: scale(110%);
}

a {
  text-decoration: none;
}

.main-about {
  padding: 0rem 9rem;
}

.about-us {
  color: white;
  margin-top: 4rem;
  border: transparent;
  background: url(../assets/about/desktop/image-hero-whitecup.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  border-radius: 1.5rem;
}

.about-us-text {
  padding: 10rem 4.5rem 8rem 7.5rem;
}
.about-us-text h2 {
  font-family: "Fraunces", sans-serif;
  font-size: clamp(3.5rem, 4vw, 4.5rem);
  font-weight: 700;
  width: 50%;
}
.about-us-text p {
  font-family: "Barlow", sans-serif;
  font-size: 1.25rem;
  margin-top: 2rem;
  width: 44%;
  line-height: 2.3rem;
}

.commitment {
  display: flex;
  gap: 7rem;
  margin: 13rem 4rem 5rem 6rem;
  justify-content: center;
  align-items: center;
}

.card-commitment {
  background-image: url(../assets/about/desktop/image-commitment.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  border-radius: 1rem;
  min-height: 43rem;
  min-width: 25rem;
}

.text-commitment {
  color: #333d4b;
}
.text-commitment h2 {
  font-family: "Fraunces", sans-serif;
  font-size: 2.8rem;
}
.text-commitment p {
  font-family: "Barlow", sans-serif;
  font-size: clamp(0.8rem, 5vw, 1rem);
  line-height: 1.6;
  font-size: 1.25rem;
  margin-top: 3rem;
}

.quality-card {
  background-image: url(../assets/about/desktop/bg-quality.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  display: flex;
  margin: 10rem 0;
  border-radius: 1rem;
  margin: 25rem auto 15rem auto;
  padding: 5.5rem 6.5rem 4rem 12rem;
  height: clamp(25rem, 33vw, 60rem);
}

.quality-img {
  display: block;
  position: relative;
  background-image: url(../assets/about/desktop/image-quality.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 1rem;
  width: clamp(20rem, 35vw, 45rem);
  height: clamp(20rem, 26vw, 30rem);
  box-shadow: 0 5px 20px rgba(0, 0, 0, 0.5);
  right: 0;
  top: -12.5rem;
  transform: translate(0, 0);
  width: 53%;
}

.quality-text {
  color: white;
  width: 75%;
}
.quality-text h2 {
  font-family: "Fraunces", sans-serif;
  font-size: clamp(1.8rem, 2.4vw, 2.3rem);
  width: 85%;
}
.quality-text p {
  font-family: "Barlow", sans-serif;
  font-size: clamp(0.8rem, 5vw, 1.22rem);
  line-height: 1.6;
  width: clamp(10rem, 72%, 60rem);
  font-weight: 300;
  margin-top: 2.2rem;
}

.headquarters {
  padding: 10rem 0 10rem 3rem;
}
.headquarters h2 {
  color: #848990;
  font-family: "Fraunces", sans-serif;
  font-size: 2rem;
  margin-bottom: 8rem;
}

.countries {
  position: relative;
  display: flex;
  gap: 3rem;
  align-items: center;
}

.country {
  position: relative;
  padding-left: 2rem;
  color: #333d4b;
  width: 100%;
}
.country img {
  width: 6rem;
  margin: 1rem 0 3rem 0;
}

.country-img {
  display: block;
  block-size: 12rem;
}

.country-text {
  display: flex;
  flex-direction: column;
}
.country-text h3 {
  display: flex;
  align-items: start;
  font-family: "Fraunces", sans-serif;
  margin-bottom: 1rem;
  font-size: clamp(1rem, 2vw, 3rem);
}
.country-text p {
  font-family: "Barlow", sans-serif;
  font-size: 1.3rem;
  line-height: 2rem;
}

/*# sourceMappingURL=style.css.map */
