$background-color: rgb(254, 252, 247);

$dark-white: #d5d5d4;
$medium-white: #e5e5e2;
$light-white: #f4f1eb;

$medium-gray: #83888f;
$light-gray: #adb0b2;

$black-color: #000000;

$medium-navy-blue: #333d4b;

$dark-blue: #0e8684;
$medium-blue: #15c3c0;
$light-blue: #9ecdc9;

$beige-color: #fdd6ba;
$button-color: rgb(135, 9, 9);
