* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img {
    overflow-clip-margin: content-box;
    overflow: clip;
}

body {
    background-color: #fefcf7;
}

li {
    list-style-type: none;
}

.btn {
    color: white;
    background-color: #0e8684;
    font-size: 1.3rem;
    font-family: "Fraunces", serif;
    font-weight: 700;
    border: transparent;
    border-radius: 0.7rem;
    cursor: pointer;
    transition: 0.2s;
}

nav {
    padding: 2.72rem 9rem 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.nav-logo {
    width: 15.8rem;
}

#navigation {
    ul {
        display: flex;
        gap: 2rem;
    }

    li {
        font-size: 0.85rem;
        font-family: "Barlow", sans-serif;
        font-weight: 700;
        color: #83888f;
        cursor: default;
    }

    a {
        color: #83888f;

        &:hover {
            color: #333d4b;
        }
    }
}

main {
    padding: 0 9rem;
}

footer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #2c343e;
    padding: 2.2rem 10rem;

    ul {
        display: flex;
        gap: 2.05rem;
    }

    li {
        font-size: 0.9rem;
        font-family: "Barlow", sans-serif;
        font-weight: 700;
        color: #83888f;
        cursor: default;
    }

    a {
        color: #83888f;

        &:hover {
            color: #fefcf7;
        }
    }

    .footer-logo {
        width: 16.5rem;
    }

    .socials {
        display: flex;
        gap: 1.5rem;

        img {
            cursor: pointer;
            width: 1.8rem;
            &:hover {
                filter: invert(82%) sepia(80%)
                    saturate(254%) hue-rotate(323deg)
                    brightness(410%) contrast(98%);
            }
        }
    }
}

.hidden {
    display: none;
}

.modal-menu {
    display: none;
}

.hamburger {
    display: none;
}

#hamburger img {
    width: 1rem;
}

.hidden {
    display: none;
}

@media (max-width: 1440px) {
    nav {
        padding: 2rem 3.5rem;
    }

    .nav-logo {
        width: 12.5rem;
    }

    footer {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 6rem 0 0 0;

        ul {
            margin: 3rem 0;
            text-align: center;
            display: flex;
            flex-direction: column;
            gap: 1rem;

            li {
                font-size: 1.1rem;
                font-weight: 400;
            }
        }

        .socials {
            gap: 3rem;

            img {
                width: 2.4rem;
            }
        }
    }
}

@media (max-width: 710px) {
    nav {
        padding: 1.8rem 2.2rem;
    }

    .nav-icon {
        width: 9.5rem;
    }

    #navigation {
        display: none;
        width: 0;
    }

    .hamburger {
        display: block;
    }

    .modal-menu {
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 3rem 0 -22rem;
        padding-bottom: 15rem;
        opacity: 1;
        transition: opacity 300ms ease-in;
        font-family: "Fraunces", sans-serif;
        font-weight: 700;
        background: #fefcf7;
        background: -moz-linear-gradient(
            180deg,
            #fefcf7 45%,
            rgba(254, 247, 247, 0) 100%
        );
        background: -webkit-linear-gradient(
            180deg,
            #fefcf7 45%,
            rgba(254, 247, 247, 0) 100%
        );
        background: linear-gradient(
            180deg,
            #fefcf7 45%,
            rgba(254, 247, 247, 0) 100%
        );
        filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#fefcf7",endColorstr="#fef7f7",GradientType=1);
        text-align: center;
    }

    .modal-menu ul {
        opacity: 1;
        transform: translate(0px, 0px);
        transition: opacity 200ms ease-out 200ms,
            transform 500ms ease-out;
    }
    .modal-menu li {
        color: #848990;
        font-size: 1.4rem;
        list-style: none;
        margin-bottom: 1rem;
        user-select: none;
    }

    .modal-menu li a {
        text-decoration: none;
        color: #343e4c;
    }

    .modal-menu li a:hover {
        cursor: pointer;
        color: #0e8684;
    }

    footer {
        .socials {
            gap: 3rem;
            margin-bottom: 2rem;

            img {
                width: 2.2rem;
            }
        }
    }
}

@media (max-width: 500px) {
    footer {
        .footer-logo {
            width: 15rem;
        }

        ul {
            li {
                font-size: 1rem;
                font-weight: 400;
            }
        }

        .socials {
            gap: 2rem;

            img {
                width: 2rem;
            }
        }
    }
}
