a {
    text-decoration: none;
}

.main-about {
    padding: 0rem 9rem;
}

.about-us {
    color: white;
    margin-top: 4rem;
    border: transparent;
    background: url(../assets/about/desktop/image-hero-whitecup.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 1.5rem;
}

.about-us-text {
    padding: 10rem 4.5rem 8rem 7.5rem;

    h2 {
        font-family: "Fraunces", sans-serif;
        font-size: clamp(3.5rem, 4vw, 4.5rem);
        font-weight: 700;
        width: 50%;
    }

    p {
        font-family: "Barlow", sans-serif;
        font-size: 1.25rem;
        margin-top: 2rem;
        width: 44%;
        line-height: 2.3rem;
    }
}

.commitment {
    display: flex;
    gap: 7rem;
    margin: 13rem 4rem 5rem 6rem;
    justify-content: center;
    align-items: center;
}

.card-commitment {
    background-image: url(../assets/about/desktop/image-commitment.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 1rem;
    min-height: 43rem;
    min-width: 25rem;
}

.text-commitment {
    color: $medium-navy-blue;

    h2 {
        font-family: "Fraunces", sans-serif;
        font-size: 2.8rem;
    }
    p {
        font-family: "Barlow", sans-serif;
        font-size: clamp(0.8rem, 5vw, 1rem);
        line-height: 1.6;
        font-size: 1.25rem;
        margin-top: 3rem;
    }
}

.quality-card {
    background-image: url(../assets/about/desktop/bg-quality.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    display: flex;
    margin: 10rem 0;
    border-radius: 1rem;
    margin: 25rem auto 15rem auto;
    padding: 5.5rem 6.5rem 4rem 12rem;
    height: clamp(25rem, 33vw, 60rem);
}

.quality-img {
    display: block;
    position: relative;
    background-image: url(../assets/about/desktop/image-quality.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 1rem;
    width: clamp(20rem, 35vw, 45rem);
    height: clamp(20rem, 26vw, 30rem);
    box-shadow: 0 5px 20px rgb(0 0 0 / 50%);
    right: 0;
    top: -12.5rem;
    transform: translate(0, 0);
    width: 53%;
}

.quality-text {
    color: white;

    h2 {
        font-family: "Fraunces", sans-serif;
        font-size: clamp(1.8rem, 2.4vw, 2.3rem);
        width: 85%;
    }
    p {
        font-family: "Barlow", sans-serif;
        font-size: clamp(0.8rem, 5vw, 1.22rem);
        line-height: 1.6;
        width: clamp(10rem, 72%, 60rem);
        font-weight: 300;
        margin-top: 2.2rem;
    }
    width: 75%;
}

.headquarters {
    padding: 10rem 0 10rem 3rem;

    h2 {
        color: #848990;
        font-family: "Fraunces", sans-serif;
        font-size: 2rem;
        margin-bottom: 8rem;
    }
}

.countries {
    position: relative;
    display: flex;
    gap: 3rem;
    align-items: center;
}

.country {
    position: relative;
    padding-left: 2rem;
    color: $medium-navy-blue;
    img {
        width: 6rem;
        margin: 1rem 0 3rem 0;
    }
    width: 100%;
}

.country-img {
    display: block;
    block-size: 12rem;
}

.country-text {
    display: flex;
    flex-direction: column;

    h3 {
        display: flex;
        align-items: start;
        font-family: "Fraunces", sans-serif;
        margin-bottom: 1rem;
        font-size: clamp(1rem, 2vw, 3rem);
    }
    p {
        font-family: "Barlow", sans-serif;
        font-size: 1.3rem;
        line-height: 2rem;
    }
}
